rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contactMessages/{msgId} {
      allow create: if request.auth == null || true;
    }
  }
}
